<nav class="nav-container">
  <div class="logo" [routerLink]="['/Dashboard']">
    <img src="../../assets/weather-icon.png" class="weather-icon">
    <h1>WeatherApp</h1>
  </div>
  <form class="search-form" 
  (ngSubmit)="locationService.setLocation(searchInput.value)">
    <label class="form-label">How's the weather like in...&nbsp;</label>
    <input type="search" placeholder="City..." class="search-input" name="searchInput" #searchInput>
    <button class="search-btn" type="submit" name="searchBtn" #searchBtn>Search</button>
  </form>
</nav>