<div class="home-dashboard">
  <!-- <p class="now-date">{{getWeatherDate(result.list[0].dt_txt)}}</p> -->
  <div class="dashboard">
    <div class="grid">
      <div class="weather-tile" *ngFor="let result of results; let i = index" 
      (click)="goToCityWeather(result.city.name+','+result.city.country)" id="item{{i}}">
        <p class="city-name">{{result.city.name}},{{result.city.country}}</p>
        <p class="now-description">{{result.list[0].weather[0].description | titlecase}}</p>
        <p class="now-temp">{{result.list[0].main.temp- 273.15|number:'1.0-0'}}°C</p>
        <p class="now-minmax">Min:{{result.list[0].main.temp_min- 273.15|number:'1.0-0'}}°C |
          Max:{{result.list[0].main.temp_max- 273.15|number:'1.0-0'}}°C</p>
      </div>
    </div>
  </div>
</div>
