p{
  margin: 0 0 0 0;
}

.dashboard{
  box-sizing: border-box;
  padding: 2rem;
}
.grid{
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50%, auto);
  grid-gap: 1rem;

}
.city-name{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.weather-tile{  
  background-color: rgba(0, 0, 0, 0.85);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  text-align: center;
}

.weather-tile:hover{
  cursor: pointer;
  transform: scale(1.1);
}

#item0{
  grid-column: span 2;
  grid-row: span 2;
}
#item0 .city-name{
  font-size: 3rem;
}
#item0 .now-temp{
  font-size: 10rem;
}
#item0 .now-description{
  font-size: 2.5rem;
}
#item0 .now-minmax{
  font-size: 2rem;
}

#item2{
  grid-column: span 2;
}
#item3{
  grid-column: span 2;
}

.now-date{
  margin-bottom: 1rem;
}
.now-description{
  font-size: 2rem;
}
.now-temp{
  font-size: 5rem;
  font-weight: 600;
}
.now-minmax{
  font-size: 1rem;
  margin-bottom: 1rem;
}


.loading{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.loadBall{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.85);
    margin: 10px;
}

#load1{
  animation: jump 1s ease 0s infinite;
}
#load2{
  animation: jump 1s ease 0.1s infinite;
}
#load3{
  animation: jump 1s ease 0.2s infinite;
}

@-webkit-keyframes jump {
  0%   { transform: translateY(0px); }
  25%   { transform: translateY(-30px); }
  50%   { transform: translateY(0px); }
  75%   { transform: translateY(-5px); }
  100%   { transform: translateY(0px); }
}
@-moz-keyframes jump {
  0%   { transform: translateY(0px); }
  25%   { transform: translateY(-30px); }
  50%   { transform: translateY(0px); }
  75%   { transform: translateY(-5px); }
  100%   { transform: translateY(0px); }
}
@-o-keyframes jump {
  0%   { transform: translateY(0px); }
  25%   { transform: translateY(-30px); }
  50%   { transform: translateY(0px); }
  75%   { transform: translateY(-5px); }
  100%   { transform: translateY(0px); }
}
@keyframes jump {
  0%   { transform: translateY(0px); }
  25%   { transform: translateY(-30px); }
  50%   { transform: translateY(0px); }
  75%   { transform: translateY(-5px); }
  100%   { transform: translateY(0px); }
}

@media only screen and (max-width:900px){

  .nav-container{
    height: auto;    
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .form-label{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .logo{
    margin-top: 1rem;
  }
  .logo h1{
    margin: 0 0 0 0;
  }

  .weather-later{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-row-gap: 3rem;
  }

  .weather-per-time{
    grid-column: span 2;
  }
}
